.example-portal-outlet {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px dashed black;
  width: 250px;
  height: 250px;
  text-align: center;

  background: lightsteelblue;
}


div {
  background: lightseagreen;
  width: 250px;
  height: 250px;
}

